<h3>Home Game-Ku</h3>
<br>
<table style="width: 75%;">
    <h2>welcome to web game ku yang maha keren.  </h2>
    <h2>semoga anda menikmati nya </h2>
    <thead>
        <tr>
            <th style="width:35%">  </th>
            <th style="width:13%;text-align:right ;">Team yang berpatisipasi </th>
            <th style="width:13%;text-align:right ;">kemenangan barusan </th>
            <th style="width:13%;text-align:right ;">permainan yang berlangsung </th>
        </tr>
    </thead>
    <tbody>
        

    </tbody>

</table>